*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    color: rgb(233, 233, 171);
    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    position: sticky;
}
nav{
    flex: 1;
    text-align: right;
    position: sticky;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    color: aliceblue;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.logo img{
    position: relative;
    width: 60px;
    height: 70px;
    left: 15px;
    top: -10px;
}
.row1{
    z-index: 1;
    position: fixed;
    background-color: rgb(41, 59, 172);
    width: 100%;
    top: 0px;
}
a{
    color: rgb(243, 232, 232);
}
#imagebg{
    z-index: -1;
    position: absolute;
    height: 550px;
    width: 100%;
    top: -400px;
}
.image-background{
    position: relative;
}
.contact_me{
    position: relative;
    margin-top: 200px;
    margin-left: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
    -webkit-text-stroke: 2px #000;
}
.image-link{
    position: absolute;
    top: 70px;
    left: 430px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #000;
    background-color: rgb(253, 253, 253);
    padding: 10px;
    border-radius: 40px;
}
#image_link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}
.myself{
    position: relative;
    top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(93, 156, 196);
    height: 900px;
}
.title{
    position: absolute;
    margin-left: 60px;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 2px rgb(241, 9, 9);

}
.aboutme{
    position: absolute;
    margin-left: 40px;
    margin-top: 150px;
    font-size: large;
    color: black;
    font-family: cursive;
}
.pics2{
    position: absolute;
    border: solid;
    border-color: white;
    background-color: blue;
    top: 150px;
    left: 580px;
    width: 250px;
    height: 300px;
}
.invisible-pics{
    position: absolute;
    border: solid;
    border-color: white;
    box-sizing: border-box;
    width: 250px;
    height: 300px;
    margin-left: 600px;
    margin-top: 120px;
    top: 50px;
    left: -40px;
}
.logos{
    position: relative;
    top: 500px;
    background-color: #000;
    color: rgb(231, 185, 185);
    font-size: 14px;
}
.pics{
    background: rgb(24, 22, 5);
    border-radius: 30px;
    padding: 0px 0 0px 0;
}
.button .icon :nth-child(1){
    color: white;
}
.social-links1{
    margin-right: 20px;
    margin-bottom: 20px;
    filter: opacity(40%);
}
.social-links1:hover {
    filter: opacity(100%);
}
.social-links2{
    margin-right: 20px;
    margin-bottom: 20px;
    filter: opacity(40%);
}
.social-links2:hover {
    filter: opacity(100%);
}
.social-links3{
    margin-right: 20px;
    margin-bottom: 20px;
    filter: opacity(40%);
}
.social-links3:hover {
    filter: opacity(100%);
}
.social-links4{
    margin-right: 20px;
    margin-bottom: 20px;
    filter: opacity(40%);
}
.social-links4:hover {
    filter: opacity(100%);
}
.social-links5{
    margin-right: 20px;
    margin-bottom: 20px;
    filter: opacity(40%);
}
.social-links5:hover {
    filter: opacity(100%);
}
.logos hr{
    border: none;
    background: red;
    height: 1px;
    margin: 20px 0; 
}
.copyright{
    text-align: center;
    color: aliceblue;
}
.social{
    flex: 1;
    text-align: center;
    align-items: center;
}
#b-logo{
    position: relative;
    width: 10%;

}
.follow{
    position: relative;
    margin-bottom: 30px;
    font-size: x-large;
    background-color: blue;
}
.icon-animation{
    text-align: center;
    text-decoration-color:blue;
    display: inline-block;
}
#facebook{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
}
#instagram{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: magenta;
}
#twitter{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(39, 39, 187);
}
#whatsapp{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: green;
}
.bars i{
    position: absolute;
    opacity: 0%;
    left: 740px;
    top: 30px;
}
@media only screen and (max-width: 800px) {
    .links{
        position: fixed;
        width: 100%;
        margin-right: 30px;
        opacity: 70%;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: -17px;
        background: rgb(0, 0, 0);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: antiquewhite;
    }
    .bars i{
        position: relative;
        color: white;
        width: 40px;
        left: 650px;
        top: 50px;
        cursor: pointer;
        opacity: 100%;
    }
    nav ul li:hover .bars img{
        transition: all 3s ease out 2s;
    }
    
    
    nav {
        position: absolute;
        width: 800px;
        transform: translateY(-50%);
        text-align: center;
        transition: all 4s ease 0s;
        margin-bottom: 5px;
        cursor: pointer;
        opacity: 0;
    }
    .logo img{
        position: absolute;
        top: 30px;
        opacity: 60%;
        padding: 0;
        margin: 0;
    } 
    .logo img:hover {
        opacity: 100%;
    }
    #imagebg{
        position: absolute;
        width: 100%;
    }
    .row2{
        font-size: 5px;
    }
    .skills{
        top: -40px;
    }
    .picsresponse{
        position: relative;
        left: -360px;
    }
    .aboutme{
        position: absolute;
        margin-left: 100px;
        margin-top: 470px;
        font-size: large;
        color: black;
        text-align: center;
        font-family: cursive;
    }
    .myself{
        position: relative;
        margin-top: 150px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgb(93, 156, 196);
        height: 900px;
    }
    .links .MenuItems::before{
        content: '';
        position: absolute;
        top: -5px;
        width: 28px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
    }
    .MenuItems{
        visibility: visible;
        opacity: 1;
    }
    .projects_items {
        position: relative;
    }
    .projects_items:before {
        content: "";
          background: #000;
          display: none;
          position: absolute;
          left: 700px;
          top: 0px;
          width: 800px;
          height: 100%;
          opacity: 0;
          transition: all 300ms ease-out; 
    }
    .projects_items:hover:before {
        opacity: 1; 
    }
    .projects_items:hover .projects_texts {
        opacity: 1;
        visibility: visible;
        bottom: 20px; 
    }
    .projects_texts {
        position: absolute;
        width: 800px;
        left: 0;
        bottom: 0px;
        transform: translateX(-0%);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease 0s;
        font-size: auto;
         margin-bottom: 5px;
        text-transform: uppercase;
        cursor: pointer;
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
}